# Zoho CRM API Configuration
ZOHO_CLIENT_ID=your_client_id_here
ZOHO_CLIENT_SECRET=your_client_secret_here
ZOHO_REFRESH_TOKEN=your_refresh_token_here
ZOHO_API_DOMAIN=https://www.zohoapis.com
# Use appropriate domain for your region:
# US: https://www.zohoapis.com
# EU: https://www.zohoapis.eu
# IN: https://www.zohoapis.in
# AU: https://www.zohoapis.com.au
# JP: https://www.zohoapis.jp
# CN: https://www.zohoapis.com.cn
