# Dependencies
node_modules/

# Environment variables
.env

# Output files
zoho-modules-fields.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

zoho*.csv
zoho*.xlsx
zoho*.json

uat_results*
subform-*
